/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  background-color: black;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  color: white;
}

input {
  width: 270px;
  margin-bottom: 40px;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
}

.container {
  padding-inline: 24px;
  max-width: 375px;
  margin-inline: auto;

}

.products-area {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.card {
  padding: 24px;
  border: 1px solid wheat;
  border-radius: 20px;
}


.card h4 {
  margin-block: 16px;
}

.price-stock {
  display: flex;
  justify-content: center;
  color: white;
  margin-block: 16px;
}

.tags {
  border: 1px solid yellow;
  color: white;
  width: 200px;
  margin-inline: auto;
}







